In [2]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [3]:
df = pd.read_csv('E:/1T/lesson_1_5/googleplaystore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [4]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [5]:
df.info()
# Пропуски содержатся в столбцах: "Rating", "Current Ver", "Android Ver" 
# и по 1 пропуску в столбцах: "Type" и "Content Rating"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [6]:
# Самое внушительное количество пропусков в столбце Rating, поэтому заполним пропущенные значения нулями 
df.fillna({"Rating": 0}, inplace=True)

# Пропуски в остальных столбцах удалим, т.к. их меньше 1%
df.dropna(inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [7]:
df.info()
# Количество строк во всех столбцах одинаковое, уменьшилось из-за применения dropna(). Соответственно пропусков нет.

<class 'pandas.core.frame.DataFrame'>
Index: 10829 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10829 non-null  object
 1   Category        10829 non-null  object
 2   Rating          10829 non-null  float64
 3   Reviews         10829 non-null  object
 4   Size            10829 non-null  object
 5   Installs        10829 non-null  object
 6   Type            10829 non-null  object
 7   Price           10829 non-null  float64
 8   Content Rating  10829 non-null  object
 9   Genres          10829 non-null  object
 10  Last Updated    10829 non-null  object
 11  Current Ver     10829 non-null  object
 12  Android Ver     10829 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

6. Выведите на экран минимум и максимум из столбца `Price`:

In [8]:
print("min =", df.Price.min())
print("max =", df.Price.max())

min = 0.0
max = 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [9]:
print("median(Rating) =", df.Rating.median())
print("mean(Rating) =", df.Rating.mean())

df["Reviews"] = pd.to_numeric(df["Reviews"]) # Приводим тип object к числовому типу
print("median(Reviews) =", df["Reviews"].median())
print("mean(Reviews) =", df["Reviews"].mean())

median(Rating) = 4.2
mean(Rating) = 3.6231969710961307
median(Reviews) = 2100.0
mean(Reviews) = 444601.76673746423

8. Выведите на экран все уникальные значения категориального столбца Genres

In [10]:
df.Genres.unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [17]:
grouped_df = df.groupby(by=["Genres"], as_index=False).agg(genres_median = ("Rating","median"),
                                                 genres_mean = ("Rating","mean")) 
grouped_df.sample(10)
# Вывод: т.к. средние значения не превышают медиану, это значит, что распределение данных смещено в одну из сторон,
# т.е. нет выбивающихся значений.

                       Genres  genres_median  genres_mean
24    Card;Action & Adventure            4.3     4.300000
44    Education;Music & Video            4.2     4.200000
67                  Lifestyle            4.1     3.364304
51   Educational;Pretend Play            4.2     4.015789
39                  Education            4.3     3.674453
94     Role Playing;Education            0.0     0.000000
75           News & Magazines            4.1     3.402120
5         Adventure;Education            4.1     4.100000
26                     Casino            4.3     4.066667
102                    Sports            4.2     3.544724

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [21]:
grouped_df[grouped_df.genres_median > 4.5]
# Из полученных данных можно сделать вывод о жанрах приложений, которые наиболее успешны и популярны

                          Genres  genres_median  genres_mean
4          Adventure;Brain Games            4.6     4.600000
11       Art & Design;Creativity            4.7     4.400000
18            Board;Pretend Play            4.8     4.800000
35             Comics;Creativity            4.8     4.800000
55      Entertainment;Creativity            4.6     4.533333
64    Health & Fitness;Education            4.7     4.700000
74           Music;Music & Video            4.6     4.533333
87              Puzzle;Education            4.6     4.600000
105  Strategy;Action & Adventure            4.6     4.600000

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [30]:
print("Кол-во дубликатов:", df.duplicated().sum()) # Т.к. это булевые значения, просто выведем их сумму
df.drop_duplicates(inplace=True)
print("Кол-во дубликатов после удаления:", df.duplicated().sum())

Кол-во дубликатов: 483
Кол-во дубликатов после удаления: 0

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [33]:
df.Genres.value_counts().head(10)

Genres
Tools              840
Entertainment      587
Education          526
Business           427
Medical            408
Productivity       407
Personalization    386
Lifestyle          372
Communication      366
Sports             364
Name: count, dtype: int64